#!/bin/bash

function main()
{
    if [[ "$1" == "-start" ]]; then
        echo "Stopping OpenVPN Server..."
        kill -9 `pidof openvpn`
        echo "Stopping any existing OpenVPNPanel instances..."
        for p in `screen -ls | grep OpenVPNPanel | awk '{print $1}' | cut -d. -f1`; do kill -9 $p; done;
        screen -wipe

        PORT=`read_config 'port' 'server'`
        HOST=`read_config 'host' 'server'`
        OVPN=`read_config 'ovpn' 'server'`

        screen -A -m -d -S OpenVPN /etc/openvpn/openvpn $3
        echo "Initialized OpenVPN with config '$3'"
        screen -A -m -d -S OpenVPNPanel ./bin/daemon $HOST $PORT
        echo "Server running on $HOST:$PORT (Screen OpenVPNPanel)."

    elif [[ "$1" == "-stop" ]]; then
        echo "Stopping OpenVPN Server..."
        kill -9 `pidof openvpn`
        echo "Stopping any existing OpenVPNPanel instances..."
        for p in `screen -ls | grep OpenVPNPanel | awk '{print $1}' | cut -d. -f1`; do kill -9 $p; done;
        screen -wipe

        echo "Stopped."
    fi
}

function read_config()
{
    echo $(awk -F "=" '/'$1'/ {print $2}' ./config/$2.ini) | tr -d ' ' 
}

main $@