#!/bin/bash

function main()
{
    if [[ "$1" == "-start" ]]; then
        echo "Stopping OpenVPN Server..."
        kill -9 `pidof openvpn`
        echo "Stopping any existing OpenVPNPanel instances..."
        for p in `screen -ls | grep PanelOpenVPN | awk '{print $1}' | cut -d. -f1`; do kill -9 $p; done;
        screen -wipe

        PORT=`read_config 'port' 'server'`
        HOST=`read_config 'host' 'server'`
        OVPN=`read_config 'ovpn' 'server'`

        echo "Initialized OpenVPN with config '$OVPN'..."
        screen -A -m -d -S ServerOpenVPN ./bin/ovpn $OVPN
        echo "OpenVPN Running (Screen ServerOpenVPN)."

        echo "Starting OpenVPNPanel Server..."
        screen -A -m -d -S PanelOpenVPN ./bin/daemon $HOST $PORT
        echo "Server running on $HOST:$PORT (Screen PanelOpenVPN)."

    elif [[ "$1" == "-stop" ]]; then
        echo "Stopping OpenVPN Server..."
        kill -9 `pidof openvpn`
        echo "Stopping any existing OpenVPNPanel instances..."
        for p in `screen -ls | grep PanelOpenVPN | awk '{print $1}' | cut -d. -f1`; do kill -9 $p; done;
        screen -wipe

        echo "Stopped."
    elif [[ "$1" == "--adduser" ]]; then
        php ./bin/user.php -add $2 $3
    elif [[ "$1" == "--deleteuser" ]]; then
        php ./bin/user.php -delete $2
    fi
}

function read_config()
{
    echo $(awk -F "=" '/'$1'/ {print $2}' ./config/$2.ini) | tr -d ' ' 
}

main $@